/*Bodyタグ*/
body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP";
    font-size: 22px;
    font-weight: Normal;
    line-height: 150%;
    letter-spacing: 2%;
  }
  
  /*header指定*/
  header {
    background-color: #00118F;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-bottom: 35px;
    color: #E8F1Fe;
  }

  .title_button {
    font-family: "Noto Sans JP";
    font-weight: Medium;
    appearance: none;
    border: 0;
    color: #E8F1Fe;
    padding-left: 10px;
    padding-right: 10px;
    border-left: #e8e8e8 solid 2px;
    background-color: #00118F;
    @media screen and ( min-width: 700px ) {
      font-size: 32px;
    }
    @media screen and ( max-width: 700px ) {
      font-size: 26px;
    }
  }

  .title_button:focus {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }

  .title_button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }

  .title_menu {
    margin-top: 10px;
  }

  /*fotter指定*/
  footer {
    background-color: #E6E6E6;
    margin-bottom: 10px;
    border-top: #999999 3px solid;
    font-size: 16px;
  }

  .footer_data {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer_mozi {
    text-align: center;
}

.footer_links {
    display: flex; 
    margin-left: auto;
    /*レスポンシブ*/
    @media screen and ( min-width: 700px) {
      margin-right: 30%; 
    }
    
    @media screen and ( max-width: 700px) {
      margin-right: 1px;    
    }
}

.footer_url1, .footer_url2, .footer_url3{
    text-align: right;
}

  /*文字指定*/
  .title_main {
    font-family: "Noto Sans JP";
    font-weight: Bold;
    line-height: 140%;
    @media screen and ( min-width: 700px ) {
      font-size: 45px;
    }
    @media screen and ( max-width: 700px ) {
      font-size: 36px;
    }
  }

  h1 {
    font-family: "Noto Sans JP";
    font-weight: Bold;
    line-height: 150%;
    letter-spacing: 1%;
    @media screen and ( min-width: 700px ) {
      font-size: 32px;
    }
    @media screen and ( max-width: 700px ) {
      font-size: 28px;
    }
  }

  h2 {
    font-family: "Noto Sans JP";
    font-weight: Bold;
    line-height: 150%;
    letter-spacing: 2%;
    @media screen and ( min-width: 700px ) {
      font-size: 24px;
    }
    @media screen and ( max-width: 700px ) {
      font-size: 22px;
    }
  }

  h3 {
    font-family: "Noto Sans JP";
    font-weight: Normal;
    line-height: 150%;
    letter-spacing: 2%;    
    text-align: right;
    @media screen and ( min-width: 700px ) {
      font-size: 22px;
    }
    @media screen and ( max-width: 700px ) {
      font-size: 20px;
    }
  }

  p {
    font-family: "Noto Sans JP";
    font-weight: Normal;
    line-height: 150%;
    letter-spacing: 2%;
    @media screen and ( min-width: 700px ) {
      font-size: 22px;
    }
    @media screen and ( max-width: 700px ) {
      font-size: 20px;
    }
  }
  /*全体フォント*/
  .html {
    font-family: "Noto Sans JP";
  }

  /*aタグ*/
  a {
    color: #0031D8;
    border: #11111100 solid 4px;
  }

  a:hover {
    background-color: #FFC700;
    border: #000000 4px solid;
    border-radius: 8px;
  }

  a:visited {
    color: #8B008B;
  }

/*canpas*/
/*余白はレスポンシブ対応*/
 .canpas{
  @media screen and ( min-width: 900px) {
    margin-left: 15%;
    margin-right: 25%;
    margin-bottom: 70px;    
  }
  
  @media screen and ( max-width: 900px) {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 70px;    
  }
}

/*画像調整*/
.nyushi_img {
max-width: 500px;
}

/*注意*/
.warm {
    padding-left: 10px;
    padding-right: 10px;
    border: solid #B78F00 3.5px;
    border-radius: 12px;
    margin-bottom: 25px;
}
